*.o
lib*.so
lib*.a
*.mod
*.log
*.debug
assim-gfortran-single
config.mk
test/assimtest2
test/domain.nc
test/obs1.nc
test/test_assim
test/test_cellgrid
test/test_cholmod
test/test_cholmod_wrapper
test/test_covariance
test/test_matoper
test/test_ndgrid
test/test_nondiag
test/test_rrsqrt
test/test_bootstrap
test/toymodel
tmp-data/
